[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    background-color: var(--background);
    color: var(--color);
    min-height: 36px;
    min-width: 171px;
    outline: 1px solid #323232;
}

[data-theme='3'] .select {
    outline: 1px solid #C2C2C2;
}

.selectWrapper {
    margin-top: 56px;
    position: relative;
}

.selectWrapper::before {
    content: 'Выберите тему';
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 14px;
    z-index: 1;
}