.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.imageAndText {
    margin-top: 24px;
    position: relative;
    display: flex;
    align-items: flex-end;
    max-width: 575px;
    height: 60px;
}

.imageAndText img {
    order: 2;
    width: 48px;
    height: 48px;
}

.text {
    margin-right: 15px;
    padding: 7px 15px 8px 13px;
    color: #FFFFFF;
    text-align: right;
    order: 1;
    background: #0066CC;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 10px 10px 0 10px;
}

.text:after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 50px;
    width: 15px;
    height: 15px;
    background: #0066CC;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    clip-path: polygon(0% 0px, 100% 100%, 100% 100%, 2px 100%);
}

.name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.messageText {
    font-size: 16px;
    line-height: 20px;
}

.time {
    margin: 5px 10px 0;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}