.buttonsContainer {
    margin-top: 33px;
    display: flex;
    gap: 24px;
}

.responseContainer {
    min-height: 373px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imageContainer {
}

.image {
    max-width: 100%;
}

.textContainer{
    max-width: 510px;
}

.code {
    font-size: 30px;
    font-weight: 500;
}

.text {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
}
.info {
    font-size: 16px;
    font-weight: 500;
}