.label {
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

/* для элемента input c type="radio" */
.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.radio::before {
}


.radio:checked::before {
}

/* для элемента label связанного с .custom-radio */
.label > span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.label > span::before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #000000;
    border-radius: 50%;
    margin-right: 11px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 60%;
}

[data-theme='3'] .label > span::before {
    filter: invert(1);
}

/* стили для радиокнопки, находящейся в состоянии checked */
.label > input:checked + span::before {
    border-color: #000000;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='000000'/%3e%3c/svg%3e");
}

[data-theme='2'] .label > input:checked + span::before {
    background-color:  #DDEEFF;
}