:root {
    --max-width: 1280px;
    --min-height: 336px;
}

.App {
    --header-height: 60px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.hw {
    max-width: var(--max-width);
    min-height: var(--min-height);
    padding: 0 70px;
    margin: 10px auto 37px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
    max-width: var(--max-width);
    padding-left: 70px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}

