:root {
    --max-width: 1280px;
    --min-height: 336px;
    --spacing: 70px;
    --padding-container: 0 var(--spacing);
}

.App {
    --header-height: 60px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding-bottom: 60px;
}

.hw {
    max-width: var(--max-width);
    min-height: var(--min-height);
    margin: 0 auto;
    position: relative;
}

.hwTitle {
    max-width: var(--max-width);
    margin: 38px auto 10px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}
