.container {
    margin-top: 68px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 19px;
}

.number {
    font-weight: 600;
    line-height: 20px;
}
